* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: #ffe9b2;
	// overflow-x: hidden;
}
