body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}


img {
  width: 100%;
  height: 600px;
  display: block;
}

@media screen and (max-width: 768px) {
  .image-container {
     flex-direction: column;
   }
 }
 
 @media screen and (max-width: 500px) {
  .image-container {
     flex-direction: column;
   }
 }

.pagecontent {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 350px;
}

.box {
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff4da;
  border-radius: 5px;
  flex: 1 1 300px; 
}

@media screen and (max-width: 768px) {
  .box {
    flex-basis: calc(50% - 20px); 
  }
}

@media screen and (max-width: 500px) {
  .box {
    flex-basis: 100%; 
  }
}